<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lqt.duynguyenhairsalon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.DuyNguyenHairSalon">
        <activity android:name=".Activities.DescriptionTaskActivity"></activity>
        <activity android:name=".Activities.AdminBookingActivity" />
        <activity android:name=".Activities.SelectServiceActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_map_key" />

        <activity android:name=".Activities.LocationActivity" />
        <activity android:name=".Activities.CustomerDetailActivity" />
        <activity android:name=".Activities.RewardsActivity" />
        <activity android:name=".Activities.MemberActivity" />
        <activity android:name=".Activities.CustomerBookingActivity" />
        <activity android:name=".Activities.NotificationActivity" />
        <activity android:name=".Activities.HistoryCutActivity" />
        <activity android:name=".Activities.DuyNguyenTVActivity" />
        <activity android:name=".Activities.LoadWebViewActivity" />
        <activity android:name=".Activities.PlayVideoYouTubeActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>